@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
}

.Delius_Headers{
    font-family: 'Delius';
    font-size: 4rem;
    margin-top: 5rem;
}

.Roboto_Headers{
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2rem;
}

.circle{
    border-radius: 50%;
    border-width: 0.2rem;
    margin-top: 2rem;
}

.recipie_link{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1.5rem;
}

.href{
    text-decoration: none;
    color: brown;
}

.home{
    position:fixed; /* This will position it relative to the viewport */
    top: 1rem;      /* Adjust as needed for vertical position */
    right: 1rem;    /* This will push the button to the right side */
    z-index: 100;   /* Ensure it's on top of other elements */
}

.home-button{
    padding: 0.5rem 1.5rem; /* Adjust the button size*/
    cursor: pointer;
    background-color: rgb(189, 134, 114);
    border-radius: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 2rem;

}